body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 30px;
    border-radius: 8px;
}

.row {
    display: flex;
}

.pad {
    height: 100px;
    width: 100px;
    font-size: 30px;
}

.top-row {
    display: flex;
}

.top {
    height: 100px;
    width: 200px;
    font-size: 30px;
}

.display {
    height: 150px;
    width: 400px;
    background-color: gainsboro;
    
}

button {
    background-color: gainsboro;
}